@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #FFE17F;
  color: #000000;
}

.page-logo-link {
  position: relative;
  display: block;
  width: 150px;
  top: -23px;
  right: -60px;
}

.page-logo-link:hover {
  opacity: 0.6;
}

.page-logo-link:active {
  opacity: 0.3;
}

.page-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation {
  background-color: #FFE17F;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 60px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 520px;
  margin-bottom: 35px;
}

.navigation-search {
  position: relative;
  width: 517px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.search {
  position: relative;
  width: 355px;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  padding: 8px 48px;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
}

.search-image {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 1;
}

.search:focus {
  outline: 2px solid #AF4FFF;
  z-index: 1;
}

.search::placeholder {
  color: #000000;
  opacity: 0.3;
}

.navigation-search-button {
  position: relative;
  right: 10px;
  width: 156px;
  border: 2px solid #000000;
  padding: 8px 55px;
  border-radius:  0px 50px 50px 0px ;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFE17F;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.navigation-search-button:active {
  color: rgba(220, 220, 220, 0.3);
}

.navigation-search-button:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-user-item {
  position: relative;
}

.navigation-user-item:nth-child(2) {
  margin-left: auto;
  margin-right: 33px;
}

.navigation-user-link {
  display: block;
  max-width: 110px;
  min-width: 20px;
  color: #000000;
  text-decoration: none;
  padding: 0;
  margin-left: 10px;
  box-sizing: border-box;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-user-image {
  margin-right: 8px;
}

.catalog-button {
  display: block;
  align-self: flex-start;
  position: relative;
  width: 293px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration-line: none;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
}

.subcatalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #FFE17F;
  width: 100%;
  height: 180px;
  padding-left: 0;
  padding-top: 33px;
  padding-bottom: 30px;
  box-sizing: border-box;
  list-style-type: none;
  transform: translateY(-40px);
}

.subcatalog-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.subcatalog-empty {
  height: 30px;
  width: 30px;
}

.catalog-button:hover .catalog-button-image {
  opacity: 1;
}

.catalog-button:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-button-image {
  position: absolute;
  top: 0;
  right: 7px;
  z-index: 2;
  opacity: 0.3;
}

.navigation-list-link {
  position: relative;
  display: block;
  max-width: 130px;
  min-width: 20px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 36px;
  box-sizing: border-box;
  z-index: 2;
}

.navigation-list-item:nth-of-type(5n+2) {
  margin-left: auto;
}

.navigation-list-item:not(:nth-of-type(4n)) {
  margin-right: 50px;
}

.navigation-list-link:hover {
  opacity: 0.6;
}

.navigation-list-link:active {
  opacity: 0.3;
}

.navigation-list-link:focus {
  outline: 2px solid #AF4FFF;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.popular-products {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.popular-products-number-background {
  position: relative;
  width: 1160px;
  height: 99px;
  margin-bottom: 480px;
  padding: 0;
  background-color: #FFE17F;
}

.popular-products-number-background::after {
  counter-increment: section;
  content: "0" counter(section);
  position: absolute;
  right: 49px;
  top: 35px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider {
  position: absolute;
  left: 0;
  top: -46px;
  width: 560px;
}

.slider-description {
  position: absolute;
  right: 15px;
  top: 69px;
  width: 545px;
}

.slider-pagination {
  position: absolute;
  top: 239px;
  left: 464px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 10px;
}

.slider-pagination-item:last-child {
  margin-right: 0;
}

.slider-pagination-button {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-button {
  position: absolute;
  padding: 0;
  border-style: none;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-prev {
  top: 211px;
  left: 30px;
}

.slider-next {
  top: 211px;
  right: 0;
}

.main-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.main-title-description {
  color: #444444;
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
}

.button {
  position: relative;
  display: block;
  height: 20px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  box-sizing: border-box;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.button:hover {
  background-color: #FFE17F;
}

.button:active::after {
  display: none;
}

.button:active {
  background-color: #FFCC33;
}

.button:focus {
  outline: 2px solid #AF4FFF;
}

.button-description {
  width: 210px;
  margin-bottom: 59px;
}

.specifications {
  display: flex;
}

.specifications-section {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.specifications-title {
  font-size: 16px;
  color:#444444;
  margin: 0;
  padding: 0;
}

.specifications-description {
  font-size: 36px;
  color: #000000;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.products {
  width: 1160px;
  margin: 0 auto;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  list-style-type: none;
}

.products-category {
  margin-right: 40px;
}

.products-category:nth-child(6n) {
  margin-right: 0;
}

.products-category-link {
  display: flex;
  flex-direction: column;
  width: 160px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.products-category-link:hover
.products-category-image-wrapper {
  background-color: #FFC700;
}

.products-category-link:active {
  opacity: 0.3;
}

.products-category-link:focus {
  outline: 2px solid #AF4FFF;
}

.products-category-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  width: 100%;
  height: 160px;
  margin-bottom: 33px;
}

.monopods
.products-category-image-wrapper
.products-category-image {
  align-self: end;
}

.products-category-name {
  display: block;
  width: 100%;
}

.services {
  background: linear-gradient(to bottom, #FFFFFF 102px, #F0F0F0 102px 100%);
  margin-bottom: 70px;
}

.services-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding-top: 64px;
  border-right: solid 7px #000000;
  z-index: 1;
}

.services-item {
  margin: 0;
  margin-bottom: 56px;
}

.services-button {
  position: relative;
  min-width: 160px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border-style: none;
  z-index: 1;
  cursor: pointer;
  background-color: none;
}

.services-button-current {
  position: relative;
  min-width: 280px;
  height: 40px;
  background-color: #000000;
  color: #FFE17F;
  padding: 9px 120px 11px 0;
  cursor: pointer;
}

.services-button-current::after {
  display: none;
}


.services-button-current:hover {
  background-color: #000000;
  opacity: 0.6;
}

.services-button-current:active {
  background-color: #000000;
  opacity: 0.3;
}

.services-button-current:focus {
  background-color: #000000;
  outline: 2px solid #AF4FFF;
}

.services-item-description {
  margin: 73px 0 0 116px;
  width: 730px;
  background: url(../images/delivery_man.svg) no-repeat 100% 0;
}

.services-item-title {
  margin: 0;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.services-item-description-text {
  margin: 0;
  width: 448px;
  color: #444444;
}

.rare-product-order {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto 70px;
  background-color: #F0F0F0;
  box-sizing: border-box;
}

.rare-product-order::after {
  position: absolute;
  top: 30px;
  right: 42px;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.tooltip-icon {
  position: absolute;
  top: 44px;
  right: 62px;
  opacity: 0.3;
}

.rare-product-order:hover
.rare-product-order-wrapper {
  background-color: #FFC700;
}

.rare-product-order:hover .rare-product-order-i {
  opacity: 1;
}

.rare-product-order:active {
  opacity: 0.3;
}

.rare-product-order:focus {
  outline: 2px solid #AF4FFF;
}

.rare-product-order-title {
  width: 910px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 40px 125px 40px 0px;
  padding: 0;
}

.rare-product-order-wrapper {
  position: relative;
  display: block;
  width: 125px;
  margin: 0;
  background-color: #FFE17F;
}

.rare-product-order-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto 70px;
  color: #444444;
}

.about-us {
  width: 520px;
}

.about-us-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.about-us-description {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.delivery-companys-list {
  margin-bottom: 40px;
}

.delivery-companys-link {
  display: block;
  min-width: 55px;
  max-width: 150px;
  color: #000000;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.button-about-us {
  width: 270px;
}

.contacts {
  width: 520px;
}

.contacts-title {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.contacts-deccription {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.contacts-address {
  font-style: normal;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: #000000;
  margin: 0;
  padding: 0;
}

.contacts-schedule {
  margin: 0;
  padding: 0;
}

.contacts-schedule:last-of-type {
  margin-bottom: 40px;
}

.button-feedback {
  width: 259px;
}

.mailing-list {
  background-color: #F0F0F0;
}

.mailing-list-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: auto auto;
  width: 1160px;
  height: 421px;
  margin: 0 auto;
}

.mailing-list-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-top: 64px;
  margin: 0;
}

.mailing-list-description {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  padding: 74px 0 0 252px;
  margin: 0;
  color: #444444;
}

.mailing-list-form {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  box-sizing: border-box;
  width: 100%;
  align-self: center;
}

.mailing-list-description-second {
  grid-column: 3 / -1;
  grid-row: 2 / 3;
  width: 160px;
  padding-left: 32px;
  margin: 0;
  background: url(../images/tick.svg) no-repeat 0 7px;
  background-size: 14px 14px;
  color: #444444;
  align-self: center;
}

.mailing-list-input {
  width: 557px;
  border-style: none;
  border-bottom: solid 3px #C4C4C4;
  color: #444444;
  background-color: #F0F0F0;
  padding: 11px 16px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.mailing-list-input:focus {
  background-color: #DCDCDC;
  outline: none;
}

.mailing-list-input::placeholder {
  color: #444444;
  opacity: 0.5;
}

.subscribe {
  position: relative;
  left: -5px;
  width: 247px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 15px 36px;
  border: solid 3px #C4C4C4;
  background-color: #F0F0F0;
  cursor: pointer;
}

.subscribe:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: 3px solid #000000;
}

.subscribe:active {
  color: rgba(220, 220, 220, 0.3);
}

.subscribe:focus {
  outline: 2px solid #AF4FFF;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  height: 321px;
  margin: 0 auto;
}

.footer-address-and-logo {
  width: 234px;
  margin-top: 62px;
}

.page-footer-logo-link {
  display: block;
  width: 145px;
  height: 36px;
  padding: 0;
  margin-bottom: 35px;
}

.page-footer-logo-link:hover {
  opacity: 0.6;
}

.page-footer-logo-link:active {
  opacity: 0.3;
}

.page-footer-logo-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-contacts-adress {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-adress-text {
  margin: 0;
  padding: 0;
  width: 234px;
  height: 40px;
}

.footer-middle-column {
  display: flex;
  flex-direction: column;
  margin: 137px 190px 0 117px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  list-style-type: none;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
}

.footer-navigation-list-link {
  position: relative;
  display: block;
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 4px;
}

.footer-navigation-list-link:hover::after {
  background-color: #FFC700;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
}

.footer-navigation-list-link:hover {
  color: #FFC700;
}

.footer-navigation-list-link:active {
  opacity: 0.3;
}

.footer-navigation-list-link:focus {
  outline: 2px solid #AF4FFF;
}

.footer-navigation-list-item:not(:nth-child(3n)) {
  margin-right: 21px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 15px;
}

.social-button {
  display: block;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #FFC700;
}

.social-button:active {
  background-color: #FFC700;
}

.social-button:active .social-button-image {
  opacity: 0.3;
}

.social-button:focus {
  outline: 2px solid #AF4FFF;
}

.social-button-image {
  display: block;
}

.footer-phone-and-logo {
  margin: 0;
  margin-top: 140px;
}

.footer-contacts-phone {
  margin-bottom: 63px;
}

.footer-contacts-phone-link {
  display: block;
  color:#FFFFFF;
  font-style: normal;
}

.footer-contacts-phone-link:hover {
  color: #FFC700;
}

.footer-contacts-phone-link:active {
  opacity: 0.3;
}

.footer-contacts-phone-link:focus {
  outline: 2px solid #AF4FFF;
}

.htmlacademy-logo-link {
  display: block;
  width: 115px;
  height: 33px;
}

.htmlacademy-logo-link .htmlacademy-logo {
  fill: #FFC700;
}

.htmlacademy-logo-link:hover .htmlacademy-logo {
  fill: #FFFFFF;
}

.htmlacademy-logo-link:active .htmlacademy-logo {
  fill: #FFFFFF;
  opacity: 0.3;
}

.htmlacademy-logo-link:focus {
  outline: 1px solid #AF4FFF;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(240, 240, 240, 0.9);
  z-index: 3;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal-delivery {
  width: 760px;
}

.modal-close-button {
  position: absolute;
  top: 74px;
  right: 70px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #AF4FFF;
}

.modal-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 42px;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.field-group-title {
  position: relative;
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 14px;
}

span .field-group-title {
  margin: 0;
}

.delivery-form-field {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #F0F0F0;
  border: none;
  padding: 20px;
  margin: 0;
  margin-right: 40px;
}

.field-group-image {
  position: absolute;
  top: 55px;
  right: 64px;
}

.field-group:nth-of-type(2) .field-group-image {
  position: absolute;
  right: 24px;
}

.delivery-form-field:hover {
  background: #DCDCDC;
}

.delivery-form-field:not(.delivery-form-field-number):focus {
  outline: 2px solid #AF4FFF;
}

.delivery-form-field::placeholder {
  color: #000000;
  opacity: 0.3;
}

.delivery-form-field-disabled {
  opacity: 0.3;
}

.delivery-form-field-name {
  width: 320px;
  margin-bottom: 62px;
}

.delivery-form-field-email {
  width: 320px;
  margin-right: 0;
}

.delivery-form-field-order {
  width: 500px;
}

.tooltip {
  position: absolute;
  display: block;
}

.tooltip-toggle {
  position: absolute;
  top: -2px;
  left: 125px;
  border: none;
  background-color: #FFE17F;
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.tooltip-icon {
  position: absolute;
  top: 7px;
  right: 12px;
}

.tooltip-text {
  position: absolute;
  top: 33px;
  left: -15px;
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  width: 200px;
  padding: 19px 17px 19px 19px;
  box-sizing: border-box;
  z-index: 3;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  top: -5px;
  right: 40px;
  content: "";
  width: 14px;
  height: 6px;
  background: url(../images/popover_triangle.svg) no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.number-wrapper {
  display: flex;
}

.delivery-form-field-number {
  width: 20px;
  height: 20px;
  margin-right: 0;
  margin-bottom: 52px;
}

.delivery-form-field-number::placeholder {
  color: #000000;
  opacity: 1;
}

.number-button {
  position: relative;
  width: 60px;
  height: 60px;
  border: none;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
}

.number-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.number-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.number-button:focus {
  outline: 2px solid #AF4FFF;
}

.delivery-form-field-button {
  position: relative;
  width: 200px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border-style: none;
  cursor: pointer;
  background: linear-gradient(to bottom, #FFFFFF 6px,  #FFE17F 6px 14px, #FFFFFF 14px 100%);
}

.delivery-form-field-button:hover {
  background: linear-gradient(to bottom, #FFE17F 6px,  #FFE17F 6px 14px, #FFE17F 14px 100%);
}

.delivery-form-field-button:active {
  background: linear-gradient(to bottom, #FFC700 6px,  #FFC700 6px 14px, #FFC700 14px 100%);
}

.delivery-form-field-button:focus {
  outline: 2px solid #AF4FFF;
}















.main-inner {
  padding-top: 35px;
}

.inner-header {
  width: 1079px;
  margin: 0 auto;
  padding-left: 15px;
  box-sizing: border-box;
}

.main-inner-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  display: block;
  position: absolute;
  top: 5px;
  right: 16px;
  content: "";
  width: 4px;
  height: 7px;
  background: url(../images/arrow-right.svg) no-repeat;
  opacity: 0.3;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  display: block;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: none;
  margin-right: 36px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
}


.catalog-monopods-products {
  background-color: #F0F0F0;
}

.catalog-monopods-products-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-monopods-filter {
  width: 320px;
  margin: 0;
  padding-left: 60px;
  box-sizing: border-box;
}

.catalog-monopods-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  margin: 25.5px 0 60px;
}

.monopods-filter-group {
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
  border: none;
}

.filter-color {
  margin-bottom: 35px;
}

.monopods-filter-title {
  position: relative;
  width: 200px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 0;
  padding-top: 12px;
  border-top: 2px solid #000000;
  margin-bottom: 30px;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #EBEBEB;
  border: 2px solid #000000;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid #C4C4C4;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-top: 15px;
  margin-right: 20px;
  opacity: 0.3;
}

.range-input {
  max-width: 60px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  padding: 0;
}

.monopods-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.monopods-filter-item:not(:last-child) {
  margin-bottom: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:focus-within .control-mark{
  outline: 2px solid #AF4FFF;
}

.control:disabled {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.control-label {
  line-height: 19px;
}

.control-input[type="checkbox"]:checked + .control-mark::before{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: url(../images/checked.svg) no-repeat center;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.filter-button {
  width: 220px;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

.monopods-right-column {
  width: 840px;
  background-color: #FFFFFF;
}

.sorting-container {
  display: flex;
  width: 100%;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

.sorting-container-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 25.5px 196.5px 25.5px 40px;
  padding: 0;
}

.select-control {
  align-self: center;
  width: 160px;
  height: 30px;
  background-color: inherit;
  border-style: none;
  font: inherit;
  appearance: none;
  background: url(../images/arrow_down.svg) no-repeat right center;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:focus {
  outline: 2px solid #AF4FFF;
}

.sorting-button {
  align-self: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  opacity: 0.3;
}

.sorting-button:nth-of-type(1) {
  margin-left: auto;
}

.sorting-button:nth-of-type(2) {
  margin-right: 40px;
}

.sorting-button:hover {
  opacity: 0.6;
}

.sorting-button:active {
  opacity: 1;
}

.sorting-button:focus {
  outline: 2px solid #AF4FFF;
}

.product-card-list {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 44px 40px;
  margin: 70px 40px 44px 40px;
  padding: 0;
  list-style-type: none;
}

.product-card-image-wrapper {
  position: relative;
  z-index: 1;
}

.product-card-image {
  display: block;
}

.product-card-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 1;
  padding: 180px 75px;
}

.product-card-button::after {
  content: "";
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.product-card:hover .product-card-button {
  display: block;
}

.product-card:hover .product-card-content {
  opacity: 0.6;
}

.product-card:active .product-card-button::after {
  background-color: #FFC700;
}

.product-card:active .product-card-content {
  opacity: 0.6;
}

.product-card:focus-within {
  outline: 2px solid #AF4FFF;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
}

.product-card-link {
  display: block;
  text-decoration-line: none;
  max-width: 200px;
}

.product-card-title {
  align-self: stretch;
  color:#000000;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin: 0;
  margin-top: 32px;
}

.product-card-price {
  color: #444444;
  line-height: 21px;
  text-align: right;
  margin-top: 32px;
}

.button-show-more {
  width: 760px;
  height: 55px;
  margin: 0 40px 44px 40px;
  padding: 0;
  border: 3px solid #E5E5E5;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
}

.button-show-more:hover {
  border: 3px solid #000000;
}

.button-show-more:active {
  opacity: 0.3;
}

.button-show-more:focus {
  outline: 2px solid #AF4FFF;
}

.pagination {
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
  list-style-type: none;
  width: 760px;
  height: 70px;
  margin: 0 40px 78px 40px;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  color: #444444;
  text-decoration-line: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  margin: 0;
  padding: 10px 15px;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-link-current {
  color: #444444;
  opacity: 0.6;
}

.pagination-link-prev,
.pagination-link-next {
  box-sizing: content-box;
  color:#000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 1;
  min-width: 78px;
  height: 21px;
  padding: 25px;
}

.pagination-link-prev:hover,
.pagination-link-next:hover {
  background-color: #DCDCDC;
}

.pagination-link-prev:active,
.pagination-link-next:active {
  opacity: 0.3;
}

.pagination-link-prev:focus,
.pagination-link-next:focus {
  outline: 2px solid #AF4FFF;
}

.pagination-link-next {
  min-width: 91px;
}

.pagination-item-prev {
  margin-right: 146px;
}

.pagination-item-next {
  margin-left: auto;
}




.popover {
  position: absolute;
  top: 36px;
  right: -70px;
  z-index: 1;
  width: 320px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  z-index: 3;
  display: none;
}

.popover::before {
  position: absolute;
  top: -5px;
  right: 153px;
  content: "";
  width: 14px;
  height: 6px;
  background: url(../images/popover_triangle.svg) no-repeat;
}

.popover-content {
  height: 100%;
  margin-top: 20px;
}

.cart-items-list {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 41px;
}

.cart-item:last-child {
  margin-bottom: 20px;
}

.cart-item-link {
  display: flex;
  cursor: pointer;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-link:focus {
  outline: 2px solid #AF4FFF;
}

.cart-item-image {
  display: block;
  margin-right: 23px;
}

.cart-item-title {
  margin: 0;
  min-width: 121px;
  max-width: 155px;
}

.cart-item-button {
  align-self: flex-start;
  border: none;
  background-color: #000000;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-button:focus {
  outline: 2px solid #AF4FFF;
}

.popover-total {
  display: flex;
  flex-wrap: wrap;
  background-color: #1A1A1A;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.popover-total-item {
  display: block;
}

.popover-number {
  width: 100px;
  margin-right: 10px;
}

.popover-price {
  width: 130px;
  text-align: right;
}

.popover-cart-button {
  display: block;
  width: 280px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration-line: none;
  padding: 14px 0;
  margin: 0 20px 20px 20px;
}

.popover-cart-button:hover {
  background-color: #FFE17F;
}

.popover-cart-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.popover-cart-button:focus {
  outline: 2px solid #AF4FFF;
}





